*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.containerForm{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
	border: 3px solid #FFF;
	padding: 10px 0px;
	width: 100%;
	color: #FFF;
	background-color: #1c1c1c;
}
.containerForm h2{
	font-size: 3em;
	margin: 0 auto;

}
.infoTarget, #wallOneErrors, #wallTwoErrors, #wallThreeErrors, #wallFourErrors{
	margin: 30px 0px;
	padding:0 15px ;
	display: flex;
	flex-direction: column;
}
#wallOneErrors p, #wallTwoErrors p, #wallThreeErrors p, #wallFourErrors p{
	font-size: 1.5em;
	color: #FF0000;
}
.infoTarget label{
	font-size: 2em;
	margin-bottom: 10px;
}
.infoTarget input{
  margin:  3px 0px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px 8px 0px 0px;
  border: none;
  border-bottom: 2px  rgba(255, 255, 255, 0.2);
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  outline: none;
  transition: background-color ease-in 0.5s;
}
.infoTarget input:focus{
   background-color: rgba(255, 255, 255, 0.5);
}
form button{
	display: flex;
	margin: 10px auto;
	color: #FFF;
	font-size: 1em;
	background: transparent;
	border: 1px solid #eee;
	padding: 20px;
	border-radius: 35px;
}
form button:hover{
	color: #1c1c1c;
	background: #FFF;
	cursor: pointer;
}
