.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0vh;
	left: 0vh;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}
.containerModal{
	display: flex;
	height: 28%%;
	width: 30%;
	padding: 0px;
	background: #006400;
	flex-direction: column;
	border: 1px solid #171110;
	border-radius: 8px;
}
.containerModal header{
	display: flex;
	text-align: center;
	padding: 15px 0px;
	background: #171110;
	width: 100%;
	height: 50px;
	font-size: 1.25em;
	color: #eee;
	border-radius: 5px;
	flex-direction: row;
	justify-content: space-evenly;
}

header .phrase{
	font-weight: 700;
	margin: 0 100px;
}
.headerBtn{
	background: transparent;
	border: none;
	font-size: 1.125em;
	font-weight: bolder;
	color: #eee;
	cursor: pointer;
}
.resultText{
	display: flex;
	flex-direction: column;
	font-size: 1.125em;
	align-content: center;
	justify-content: center;
}
.resultText p{
	margin: 5px auto;
}
@media only screen and (max-width: 1350px) {
	 .containerModal header{
	 	font-size: 1em;
	 	height: 45px;
	 }
}
@media only screen and (max-width: 1030px) {
 .containerModal header{
 	font-size: 0.9em;
 }
 .headerBtn{
 	font-size: 0.81em;
 }
}
@media only screen and (max-width: 915px) {
 .containerModal header{
 	font-size: 0.8em;
 }
 .headerBtn{
 	font-size: 0.72em;
 }
}
@media only screen and (max-width: 915px){
	.containerModal{
		width: 40%;
	}
}
@media only screen and (max-width: 680px){
	.containerModal{
		width: 50%;
	}
}
@media only screen and (max-width: 490px){
	.containerModal{
		width: 70%;
	}
}