*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.containerHeader{
	display: flex;
	flex-direction: row;
  	height: 100px;
  	width: 100%;
  	color: #FFF;
  	font-size:  3.5em;
  	background-color: #006400;
  	text-align: center;
  	justify-content: center;
}
.containerHeader h3{
	margin: auto 0px;
}
.containerHeader img{
	align-self: center;
	margin-left: 15px;
	max-height: 45px;
	max-width: 45px;
	width: auto;
	height: auto;
}