*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.introContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #eee;
	margin: 30px 0px;
	width: 100%;
}
.introContainer h2{
	display: flex;
	align-self: center;
	font-size: 3em;
	margin-bottom: 20px;
}
.introContainer span{
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 15px;
}
.introContainer ol{
	list-style: none;
	padding-left: 20px;
	color: #D2691E;
}
.introContainer ol li{
	margin-top: 10px;
}
.introContainer ol li{

}
.introContainer p, .introContainer ol{
	font-size: 2em;
	margin: 10px 30px;
}