*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
footer{
	display: flex;
	flex-direction: column;
  	height: 90px;
  	width: 100%;
  	color: #FFF;
  	font-size:  1.3em;
  	background-color: #006400;
  	text-align: center;
  	justify-content: center;
}
.footerText p:first-child{
	margin-bottom: 10px;
}