*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1c1c1c;
  overflow: auto;
}
body::-webkit-scrollbar {
   width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #1c1c1c;
}
body::-webkit-scrollbar-thumb {
  background-color: #006400;
    order-radius: 50%;
}
